*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div {
    width: 250px;
    height: 250px;
    display: inline-block;
    position: relative;
    top: 30px;
    left: 50px;
    
}
#negro {
    background-color: black;
    color: white;
    font-size: 3em;
    margin: 10px;
    
}
#rojo {
    background-color: red;
    color: yellow;
    font-size: 3em;
}